<div class="flex-container-single-village">
    <h1>Contemporary Chinese Village Gazetteer Data</h1>
        <div class="chinese-container">
            <h1>数 字 村 庄</h1>
            <h1>&nbsp;&nbsp;&nbsp;&nbsp;<br>數 字 村 莊</h1>
        </div>
</div>

<div class="documentation">
    <div class="content">

    <h2>Website Handbook</h2>

    <p>This website is for professional use and is designated to quickly query, filtering and downloading Chinese village data.
        <br><br>The project reached its initial goal of extracting data from 500 different gazetteers in August 2019.
        The number reached 1,800 by February 2022. This data can be viewed and/or downloaded in 18 different data sets varying by topic.
        A data dictionary is also available that documents the process of capturing and recording the data by the EAL team.
        The project will continue extracting data from more gazetteers as time and resources allow with the goal of eventually reaching 2,500-3,000 village gazetteers.</p>
    <h2>
        How to use:
    </h2>
    <p>
        This website is separated into three parts.<br>
        <br>1. The main page tells users how to use this website, just look through the entire documentation.<br>
        <br>2. The second is the advance villages search part, users can apply any filters like village elections, there are three categories; also,
        users can use the search button to apply any words that match the database. Remember, all the words search must be typed right, the system will
        response fail otherwise.<br>
        <br>3. There is a 'select-all' button that can leads you toward applying search all the data and get back to you. Remember, I do not suggest to
        use this feature because it will costs too much memory consumptions and drags the server slow. Then users can select any data which appeared
        on the selection panel, the result will response to the list below.<br>
        <br>4. The topic selection part is the advance filter, users can apply the selection feature by checking the box on whichever you want.
        There are 12 features, you can select one by one time and the results will show up in the result page.<br>
        <br>5. The third part is the more options selection, users can select either Chinese or English interface. FYI, if users want to
        apply the English version, please enter the correct English letters in the search box.<br>
        <br>6. The .CSV files convert to .Excel files. This feature means to help the user who's computer cannot display the Chinese words correctly,
        use this link to do a converting and reopen the file, the Chinese will display correctly.<br>
        <br>7. Some features is coming soon, please stay tuned!!!!
    </p>
    </div>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <div class="footer">
            <a class="navbar-brand" href="http://www.chinesevillagedata.library.pitt.edu/contact.html" target="_blank">Contact us here !!! ®</a>
        </div>

    </nav>
</div>

