/*center the search box in the middle of the screen*/

.flex-container-single-village {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /*Set background Image and size*/
    /* BUG */
    /* main - assets/CCVG-home-background.png */
    background-image: url("/../assets/CCVG-home-background.png");
    background-repeat: no-repeat;
    background-position: top;
}

.example-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


/*Search Box width*/

.example-full-width {
    width: 45%;
    background: white;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}


/*=========================================*/

h1 {
    text-align: center;
    font-size: 3.5em;
    margin: 40px 0 0 0;
    padding: 0;
    color: #000;
    line-height: normal;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
    text-shadow: 0 0 5px white;
    display: flex;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.chinese-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}