/*Largest lavenderblush background*/

.flexcontainer {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    /* background: lavenderblush; */
    /* height: 600px; */
    height: 90%;
}


/*====================*/

.container1 {
    display: flex;
    flex-direction: column;
    background: white;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 5px;
    /* width: 30%; */
    margin: 2px;
    margin-right: 3%;
    border-radius: 2%;
    margin-left: 1%;
     height: 95%;

}

.dropdown-header {
    height: 10%;
}


/*Provice, City, County=============================*/

.geologyDropdownList {
    display: flex;
    /*Has to have this line to make justify-content works*/
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.arrowdown {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


/*User input search============*/

.searchinput {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background: white;
    min-width: 0;
}

.nssx {
    display: flex;
    background: white;
    flex: 0 0 1;
    /*flex-grow, flex-shrink, flex-basis*/
}

.userinputtext {
    min-width: 0;
    flex: 1 1 0;
    /*flex-grow, flex-shrink, flex-basis*/
}


/*table header===========================*/

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgb(34, 126, 118);
    color: white;
    font-size: 15px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    padding: 2%;
}

.selectall {
    display: flex;
    justify-content: flex-start;
    background: white;
}


/*===========================*/

.villageselectionlist {
    display: flex;
    flex-direction: column;
    max-height: 50%;
    /* background: #793391; */
    height: 350px;
    overflow: auto;
    padding: 2%;
    margin-bottom: 5%;
    /* margin-b */
}

.villagetable {
    width: 100%;
}

.topic-selected-header,
.year-selected-header,
.year-range-selected-header,
.villageselected {
    display: flex;
    justify-content: center;
    background: rgb(129, 201, 195);
    color: black;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    padding: 5%;
}

.select-headers {
    /* display: flex; */
    justify-content: center;
    background: rgb(17, 99, 92);
    color: white;
    /* border-style: solid; */
    border-color: gray;
    /* border-width: 1px; */
    padding: 2%;
    font-size: 15px;
    border-radius: 7%;
    font-weight: 1000;
}

.villageselectedlist {
    /* display: flex; */
    background: white;
    color: black;
    height: 400px;
    /* height: auto; */
    /* min-height: 300px;
    max-height: 300px; */
    overflow: scroll;
}


/*================================*/

.container2 {
    display: flex;
    flex-direction: column;
    /*justify-content: space-evenly;*/
    background: white;
    text-align: center;
    border: 2px;
    width: 40%;
    /* height: 600px; */
    /* height: 100%; */
    height: 95%;
    margin: 2px;
    margin-right: 3%;
}


/*===========================*/

.economy {
    display: flex;
    flex-direction: column;
    /* background: white; */
    height: 320px;
}

.category {
    display: flex;
    flex-direction: row;
    /*justify-content: flex-start;*/
    width: 100%;
    height: 100%;
    /* background: chocolate; */
}

.left,
.middle,
.right {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: white;
    /* border-style: solid;
  border: 0.1px solid black; */
    /* border-color: chartreuse; */
    border-width: 2px;
    width: 100%;
    color: black;
    text-align: left;
}


/* mat icon */

.mat-icon {
    cursor: pointer;
    /* color: red; */
}


/*===========================*/

.topicselectionlist {
    /* background: #793391; */
    color: black;
    margin: 10px;
}

.topicselectedlist {
    /* background: #793391; */
    color: black;
    height: 40%;
    margin: 2px;
}


/*========================================*/

.container3 {
    display: flex;
    flex-direction: column;
    /*justify-content: space-evenly;*/
    /* background: aqua; */
    text-align: center;
    /* border: 2px; */
    width: 20%;
    max-height: 90%;
    /* height: 600px; */
    margin: 2px;
}

.singleyear {
    display: flex;
    flex-direction: column;
}

.yearselect {
    display: flex;
    justify-content: center;
}


/*===========================*/

.yearrangeselect {
    display: flex;
    justify-content: center;
}

.yearselectionlist {
    display: flex;
    flex-direction: column;
    /* background: #793391; */
    color: black;
    /* height: 50%; */
    height: 30%;
    margin: 2px;
    overflow: auto;
    text-align: left;
}

.timeselectedlist {
    /* background: #793391; */
    color: black;
    height: 50%;
    margin: 2px;
}

#itemTemp {
    text-align: left;
}

.inputTearField {
    width: 100%;
    height: 13%;
}

.aligned-with-icon {
    /* position: relative; */
    margin-top: 5px;
}

.mat-fab {
    margin-right: 10%;
    /* width: 2px;
    height: 20px;
    margin-right: 9%; */
    /* margin-top: 5%; */
    /* margin-top: 5px; */
}

.addYear {
    margin: 5%;
}

.multiSearch {
    margin-left: 5%;
    /* background-color: rgb(201, 241, 241); */
}

div.mat-list-item-content,
.mat-list-text {
    font-size: 14.5px;
    margin: 1px;
    padding: 1px;
}

mat-list-option[aria-selected="true"] {
    background: rgba(134, 229, 229, 0.7);
}

.yearselectionlist {
    height: 200px;
    /* height: 30%; */
    overflow: scroll;
}

.yearselectedlist {
    background: white;
    flex: 1;
    /* height: 500%; */
    margin-top: 5%;
    /* min-height: 150px;
     */
    height: 90%;
}

.resetBtn {
    margin-left: 30%;
}


/* respontive design */

.searchBtn {
    margin-left: 19%;
    width: 30%;
}

.searchBtn:hover {
    background-color: rgb(38, 160, 168);
}

.any-input-field {
    /* margin-top: 22%; */
    text-align: left;
    align-items: center;
    position: relative;
    display: contents;
}

.mat-checkbox {
    /* transform: scale(1.3); */
}

.table {
    display: table;
    margin-bottom: 3%;
}

.row {
    display: table-row;
    max-width: 400px;
    margin: 50px;
    padding: 5px;
    line-height: 50px;
}

.selectList:nth-child(even),
.row:nth-child(even) {
    /* background-color: rgb(233, 230, 230); */
}

.selectList:nth-child(odd),
.row:nth-child(odd) {
    /* background-color: #99c9ee; */
}

mat-list-option[aria-selected="true"] {
    background: rgba(0, 139, 139, 0.7);
}


/* .selectList-Left:nth-child(odd) {
    background-color: #75b6e7;
} */

.cell {
    display: table-cell;
    /* padding: 1%;
    margin: 6%; */
    font-weight: bold;
    font-size: 15px;
}

mat-card {
    margin: 5px;
    padding: 5px;
}

.example-form-field {
    margin: 3%;
}

.year-result-container,
.yearselectedlist {
    /* display: flex; */
    background: white;
    color: black;
    height: 140px;
    /* height: auto; */
    /* min-height: 300px;
        max-height: 300px; */
    overflow: scroll;
}

.notes{
    background-color: rgb(238, 140, 28);
}