<div class="flexcontainer">
    <div *ngIf="loading" class="shadow-container">
        <mat-spinner color="warn">
        </mat-spinner>
        <span class="loading-text">Loading......</span>
    </div>

    <!-- <div class="container1"> -->
    <mat-card class="container1">
        <p class="select-headers" matTooltip="Can search multiple villages by province, city and county or single village." matTooltipClass="tooltips">Select Village(s) </p>
        <div>
            <div class="geologyDropdownList">
                <mat-form-field [style]="{width: '105px', marginRight: '10px'}">
                    <mat-label style="color: black">省 - Provinces</mat-label>
                    <mat-select [(ngModel)]="provinceSearch" (ngModelChange)="changeProvince($event)">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let province of provinceList" [value]="province">
                            {{ province }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <p>Selected value: {{ provinceSearch }}</p> -->

                <mat-form-field [style]="{width: '105px', marginRight: '10px'}">
                    <mat-label style="color: black">市 - Cities</mat-label>
                    <mat-select [(ngModel)]="citySearch" (ngModelChange)="changeCity($event)">
                        <mat-option>None</mat-option>
                        <mat-option  *ngFor="let city of cityList" [value]="city">
                            {{ city }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field [style]="{width: '105px', marginRight: '10px'}">
                    <mat-label style="color: black">县 - County</mat-label>
                    <mat-select [(ngModel)]="countySearch" (ngModelChange)="changeCounty($event)">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let county of countyList" [value]="county">
                            {{ county }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <div [style]="{width: '100%', margin: '0 auto', display: 'flex', flexDirection: 'row', justifyContent: 'center', alignItems: 'center'}">
                <mat-icon [style]="{ width: '32px', height: '0px'}" matTooltip="Enter any village related word that matches the database to return all villages information." matTooltipClass="tooltips">search</mat-icon>
                <mat-form-field class="any-input-field" [style]="{width: '95%', height: '30px'}">
                    <mat-label style="color: gray">Please input any related word.</mat-label>

                    <input matInput (keyup)="applyFilter($event)" #input />

                </mat-form-field>
            </div>
        </div>
        <br />


        <div class="title">
            <label>选择 - Choice</label>
            <label>村名 - Village Name</label>
            <label>省 - Province</label>
            <label>市 - City</label>
            <label>县 - County</label>
        </div>

        <div>
            <mat-checkbox class="selectall" (change)="checkUncheckAll()" [(ngModel)]="masterSelected">选择所有 - Select All</mat-checkbox>
        </div>

        <div class="villageselectionlist">
            <mat-card-content class="village-content">
                <table class="villagetable" mat-table [dataSource]="options">
                    <!--  checkbox column  -->
                    <ng-container matColumnDef="isSelected">
                        <th mat-header-cell *matHeaderCellDef >选择 - Choice</th>
                        <mat-cell *matCellDef="let element" style="height: 100%; display: flex; flex-direction: column; justify-content: center; align-content: center;">
                            <mat-checkbox style="height: 16px" (change)="isAllCheckBoxSelected($event,element)" [checked]="masterSelected"></mat-checkbox>
                        </mat-cell>
                    </ng-container>
                    <!-- Provice Column -->
                    <ng-container matColumnDef="village_name">
                        <th style="width: 20%" mat-header-cell *matHeaderCellDef>村庄名字-Gazetteer Name</th>
                        <td style="width: 20%" mat-cell *matCellDef="let element">{{ element.name }}</td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="province">
                        <th mat-header-cell *matHeaderCellDef>省-Province</th>
                        <td style="width: 20%" mat-cell *matCellDef="let element">{{ element.province }}</td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="city">
                        <th mat-header-cell *matHeaderCellDef>市-City</th>
                        <td style="width: 20%" mat-cell *matCellDef="let element">{{ element.city }}</td>
                        <!-- <button>hallo</button> -->
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="county">
                        <th mat-header-cell *matHeaderCellDef>县-County</th>
                        <td style="width: 20%" mat-cell *matCellDef="let element">{{ element.county }}</td>
                    </ng-container>
                    <tr mat-row class="selectList" *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
                <mat-paginator #villagePaginator [pageSizeOptions]="[6,15]"
                               showFirstLastButtons>
                </mat-paginator>
            </mat-card-content>
        </div>

        <div class="villageselected" matTooltip="The information of the villages selected above is displayed here. Click the delete button on the left to delete unwanted villages." matTooltipClass="tooltips">Selected Village(s)</div>

<!--        控制左侧选择结果框的地方-->
            <mat-card-actions class="villageselectedlist" style="margin-left: 0; padding-top: 0">
                <!-- <div class="villageselectedlist"> -->
                <mat-list *ngFor="let checkedItem of multiVillages_checkedList" style="height: auto; border-bottom: 0 solid #ddd; display: flex; flex-direction: column; justify-content: center; align-content: center;">

                    <mat-list-item>
                        <button mat-mini-fab color="warn" aria-label="del button" style="margin-right: 20px;">
                            <mat-icon aria-hidden="false" aria-label="delete icon" (click)="deleteVillage($event, checkedItem)">delete</mat-icon>
                        </button>
                        {{ checkedItem.village_name }} {{ checkedItem.province }} {{ checkedItem.city }} {{ checkedItem.county }}
                    </mat-list-item>
    <!--                <mat-divider></mat-divider>-->
                </mat-list>
                <!-- </div> -->

            </mat-card-actions>

    </mat-card>
    <!-- </div> -->

    <mat-card class="container2">
        <p class="select-headers" matTooltip="Subject categories displayed or not are depending on the availability of retrieval results." matTooltipClass="tooltips">Select Subject(s)</p>
        <!-- <mat-card-header class="topics"> -->
        <div class="topics">
            <div>
                <mat-checkbox class="selectall3" (change)="checkAllTopics()" [checked]="allTopicChecked" matTooltip="Refer to particular subject(s)." matTooltipClass="tooltips">选择所有 - Select All</mat-checkbox>
            </div>

            <mat-tab-group animationDuration="500ms" (selectedTabChange)="tabChanged($event)" #tabGroup>
                <mat-tab *ngFor="let item of displayedMiddleTabsFiltered">
                    <ng-template mat-tab-label> <span [matTooltip]="displayedMiddleTabsFilteredToolTip.get(item)" matTooltipPosition="below" matTooltipClass="tooltips">{{ item }} </span> </ng-template>
<!--                    ========右侧上选择框====-->
                    <div class="economy">
                        <div *ngIf="isNamesTab">
                            <div class="table">
                                <mat-card class="row" *ngFor="let item of showAllNamesDataListUnique" style="margin: 10%;">
                                    <span class="cell" style="margin: 5%;">{{ item.name }} </span>
                                    <span class="cell">{{ item.fiveLastNames }}</span>
                                    <span class="cell">{{ item.num }}</span>
                                </mat-card>
                            </div>
                        </div>
                        <div class="category">
                            <div class="left">
                                <mat-selection-list #list1 [(ngModel)]="category1Selected" (ngModelChange)="category1Selection($event)">
                                    <ng-container>
                                        <mat-list-option class="selectList" *ngFor="let category1 of category1Set" checkboxPosition="before" style="font-size: 14px;height:40px;" [value]="category1">
                                            <span [matTooltip]="mapCategory1ToTooltips[category1.split(' ')[0]]" matTooltipPosition="below" matTooltipClass="tooltips">{{ category1 }} </span>
                                        </mat-list-option>
                                    </ng-container>
                                </mat-selection-list>
                            </div>

                            <!-- <p>
                                Options selected: {{list1.selectedOptions.selected.length}}
                            </p>

                            <p>
                                Option selected: {{list1.selectedOptions.selected[0]?.value}}
                            </p> -->


<!--                            <div class="middle">-->
<!--                                &lt;!&ndash; 类别 &ndash;&gt;-->
<!--                                &lt;!&ndash; <p>{{ item }} 下类别</p> &ndash;&gt;-->
<!--                                <mat-selection-list #list2 [(ngModel)]="category2_Option" (ngModelChange)="category2Selection($event)">-->
<!--                                    <ng-container>-->
<!--                                        <mat-list-option class="selectList" *ngFor="let item of category2Set" checkboxPosition="before" style="font-size: 14px;height:auto;">-->
<!--                                            {{ item }}-->
<!--                                        </mat-list-option>-->
<!--                                    </ng-container>-->
<!--                                </mat-selection-list>-->



<!--                            </div>-->

<!--                            <div class="right">-->
<!--                                <mat-selection-list #list3 [(ngModel)]="category3_Option">-->
<!--                                    <ng-container>-->
<!--                                        <mat-list-option class="selectList" *ngFor="let item of category3Set" checkboxPosition="before" style="font-size: 14px;height:auto;">-->
<!--                                            {{ item }}-->
<!--                                        </mat-list-option>-->
<!--                                    </ng-container>-->
<!--                                </mat-selection-list>-->
<!--                            </div>-->

                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <!-- </mat-card-header> -->

        <div class="topicselectedlist">
            <div class="topic-selected-header">Selected Subject(s)</div>

            <div *ngFor="let eachList of displayTopicCategory">
                <div *ngIf="!mapMainCategoryToSubCategoryConfig[eachList.selectedTopic]">
                    <p *ngIf="eachList.category1List && eachList.category1List.length>0">{{ eachList.selectedTopic }}子类 - SubCategory</p>
                    <mat-list *ngFor="let item of eachList.category1List">
                        <mat-list-item style="font-size: 15px; padding: 0; margin: 0;">
                            {{ item }}
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>

        </div>
    </mat-card>


    <!-- year select field -->
<!--    <div class="hidden_right_panel">-->
<!--        <button (click)="hiddenPanle()" style="text-align: center; width: 40px; height: 32px; background:#000; color: #fff; margin:0; padding:0; box-shadow: none;border:0;" id="hidden_panel" type="button" >-->
<!--            <mat-icon *ngIf="isHiddenPanel">keyboard_arrow_left</mat-icon>-->
<!--            <mat-icon *ngIf="!isHiddenPanel">keyboard_arrow_right</mat-icon>-->
<!--        </button>-->

<!--    </div>-->
<!--    <mat-card class="container3" [ngStyle]="{'display': isHiddenPanel ? 'none' : 'flex'}">-->
<!--        <p class="select-headers">选择时间 - Select Time</p>-->

<!--        <div class="yearselect">年份 - Year</div>-->
<!--        <div class="singleyear">-->
<!--            <div class="yearselectionlist">-->
<!--                <mat-selection-list #listSingleYear>-->
<!--                    <ng-container *ngFor="let item of topicYear">-->
<!--                        <div *ngFor="let eachYear of item.total_year_only">-->
<!--                            <mat-list-option #option checkboxPosition="before" style="font-size: 14px;" (click)="checkboxYear($event, eachYear, option.selected)">-->
<!--                                {{eachYear}}-->
<!--                            </mat-list-option>-->
<!--                        </div>-->
<!--                    </ng-container>-->
<!--                </mat-selection-list>-->

<!--            </div>-->
<!--            <div class="yearselectedlist">-->
<!--                <div class="year-selected-header"> 已选单年份 - Selected Single Year</div>-->

<!--                <p>已选 {{listSingleYear.selectedOptions.selected.length}}</p>-->
<!--                <ng-container>-->
<!--                    <table>-->
<!--                        <div *ngFor="let eachCheckedYear of checked_year_only">-->
<!--                            <p>{{ eachCheckedYear }}</p>-->
<!--                        </div>-->
<!--                    </table>-->

<!--                </ng-container>-->

<!--            </div>-->
<!--        </div>-->

<!--        <div class="yearrangeselect">年段 - Year Range</div>-->
<!--        <div class="yearrange">-->

<!--            <mat-form-field class="example-form-field" appearance="fill">-->
<!--                <mat-label>输入开始年份；Input Start Year</mat-label>-->
<!--                <input matInput type="text" [(ngModel)]="startYearInput">-->
<!--                <button *ngIf="startYearInput" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">-->
<!--                    <mat-icon>close</mat-icon>-->
<!--                </button>-->
<!--            </mat-form-field>-->



<!--            <mat-form-field class="example-form-field" appearance="fill">-->
<!--                <mat-label>输入结束年份; Input end Year</mat-label>-->
<!--                <input matInput type="text" [(ngModel)]="endYearInput">-->
<!--                <button *ngIf="endYearInput" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">-->
<!--                    <mat-icon>close</mat-icon>-->
<!--                </button>-->
<!--            </mat-form-field>-->

<!--            <button mat-raised-button color="primary" class="addYear" (click)="onPostInputYear()">-->
<!--                添加 - Add-->
<!--            </button>-->

<!--            <div class="yearselectedlist" #myYearDiv>-->
<!--                <div class="year-range-selected-header"> 已选年段 - Selected Year Range</div>-->
<!--                <p>{{ inputed_year_range }}</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </mat-card>-->




        <nav class="navbar fixed-bottom bg-transparent">
<!--            <button mat-raised-button (click)="resetAll()" class="resetBtn">-->
<!--                Reset All Selection-->
<!--            </button>-->
            <button mat-raised-button (click)="goToPage()" class="searchBtn">
                Search<mat-icon style="color: yellow; vertical-align: center; margin-left: 5px">call_made</mat-icon>
            </button>
        </nav>


</div>