<div class="flexcontainer">
    <div class="container1">
        Select Villages-选择村庄
        <div class="geologyDropdownList">
            <mat-form-field>
                <mat-label>Province 省</mat-label>
                <mat-select [(ngModel)]="provinceSearch" (ngModelChange)="changeProvince($event)">
                    <mat-option *ngFor="let province of provinceList" [value]="province">
                        {{ province }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <p>Selected value: {{ provinceSearch }}</p> -->

            <mat-form-field>
                <mat-label>City 市</mat-label>
                <mat-select [(ngModel)]="citySearch" (ngModelChange)="changeCity($event)">
                    <mat-option *ngFor="let city of cityList" [value]="city">
                        {{ city }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>County 县</mat-label>
                <mat-select [(ngModel)]="countySearch" (ngModelChange)="changeCounty($event)">
                    <mat-option *ngFor="let county of countyList" [value]="county">
                        {{ county }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <br /><br />
        <mat-form-field>
            <mat-label>按any筛选</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input />
        </mat-form-field>

        <br />

        <div class="title">
            <label>选择</label>
            <label>村庄名字</label>
            <label>省</label>
            <label>市</label>
            <label>县</label>
        </div>
        <div>
            <mat-checkbox class="selectall" (change)="checkUncheckAll()" [(ngModel)]="masterSelected">选择所有-Select All</mat-checkbox>
        </div>
        <div class="villageselectionlist">
            <table class="villagetable" mat-table [dataSource]="options">
                <!--  checkbox column  -->
                <ng-container matColumnDef="isSelected">
                    <th mat-header-cell *matHeaderCellDef>选择</th>
                    <mat-cell *matCellDef="let element">
                        <mat-checkbox (change)="isAllCheckBoxSelected($event,element)" [checked]="masterSelected"></mat-checkbox>
                    </mat-cell>
                </ng-container>
                <!-- Provice Column -->
                <ng-container matColumnDef="village_name">
                    <th mat-header-cell *matHeaderCellDef>村庄名字</th>
                    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="province">
                    <th mat-header-cell *matHeaderCellDef>省</th>
                    <td mat-cell *matCellDef="let element">{{ element.province }}</td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef>市</th>
                    <td mat-cell *matCellDef="let element">{{ element.city }}</td>
                    <!-- <button>hallo</button> -->
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="county">
                    <th mat-header-cell *matHeaderCellDef>县</th>
                    <td mat-cell *matCellDef="let element">{{ element.county }}</td>
                </ng-container>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
        <div class="villageselected">已选村庄-Selected Villages</div>

        <mat-list *ngFor="let checkedItem of multiVillages_checkedList">
            <mat-list-item>
                <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="deleteVillage($event, checkedItem)">delete</mat-icon>
                {{ checkedItem.village_name }} {{ checkedItem.province }} {{ checkedItem.city }} {{ checkedItem.county }}
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>

        <div class="villageselectedlist"></div>
    </div>

    <div class="container2">
        选择主题-Select Topics
        <div class="topics">
            <mat-tab-group animationDuration="0ms" (selectedTabChange)="tabChanged($event)" #tabGroup>
                <mat-tab label="{{ item }}" *ngFor="let item of displayedMiddleTabs">
                    <div class="economy">
                        <div class="category">
                            <div class="left"> 类别
                                <p>{{ item }} 下类别</p>
                                <mat-selection-list #list1 [(ngModel)]="selectedOptionCurrent" (ngModelChange)="categorySelection($event)">
                                    <!-- hidden="true" -->
                                    <ng-container>
                                        <mat-list-option *ngFor="let item of topicCategory" checkboxPosition="before" style="font-size: 14px;" [selection]="item.isSelected" [value]="item">
                                            {{item.category1}}
                                        </mat-list-option>
                                    </ng-container>
                                </mat-selection-list>
                            </div>

                            <!-- <p>
                                Options selected: {{list1.selectedOptions.selected.length}}
                            </p>

                            <p>
                                Option selected: {{list1.selectedOptions.selected[0]?.value}}
                            </p> -->

                            <div class="middle">
                                类别
                                <p>{{ item }} 下类别</p>
                                <mat-selection-list #list2 [(ngModel)]="selectedOptionCurrent" (ngModalChange)="categorySelection($event)">
                                    <ng-container>
                                        <mat-list-option *ngFor="let item of category2_checkedList" checkboxPosition="before" style="font-size: 14px" [hidden]="item.subCategories.category2 === undefined">
                                            {{item.subCategories.category2}}
                                        </mat-list-option>
                                    </ng-container>
                                </mat-selection-list>
                            </div>

                            <div class="right">
                                <!-- BUG -->
                                <mat-selection-list>
                                    <ng-container *ngFor="let item of category2_checkedList">
                                        <mat-list-option *ngIf="item.subCategories && item.subCategories.category2 && item.subCategories.category2.subCategories && item.subCategories.category2.subCategories.category3" checkboxPosition="before" style="font-size: 14px;">
                                            {{item.subCategories.category2.subCategories.category3}}
                                        </mat-list-option>
                                    </ng-container>
                                </mat-selection-list>
                            </div>

                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>

        <div class="topicselectedlist">
            已选主题-Selected Topics
            <hr />
            <p>已选 {{ tempcheckItems.length }}</p>
            <p>{{ selectedTabLabel }}下 -- 子类1</p>
            <div *ngFor="let item of tempcheckItems">
                <div id="itemTemp">
                    {{ item }}
                    <br />
                </div>
            </div>
        </div>
    </div>


    <!-- year select field -->

    <div class="container3">
        选择时间-Select Time

        <div class="yearselect">年份-Year</div>
        <div class="singleyear">
            <div class="yearselectionlist">
                <mat-checkbox (change)="rightTopYearCheckBox($event)">全选</mat-checkbox>
                <li *ngFor="let eachYear of singleYearList" [ngStyle]="{
            'list-style-type': 'none'
          }">
                    <mat-checkbox (change)="rightTopYearCheckBox($event)">
                        {{ eachYear }}
                    </mat-checkbox>
                </li>
                <!-- <mat-checkbox name="1949" (change)="middleCheckBox($event)"
          >1949</mat-checkbox
        > -->
            </div>
            <div class="yearselectedlist">
                已选年份-Selected Single Year
                <p>已选 {{ rightToptempcheckItems.length }}</p>
                <div *ngFor="let rightitem of rightToptempcheckItems">
                    <p>{{ rightitem }}</p>
                </div>
            </div>
        </div>

        <div class="yearrangeselect">年段-Year Range</div>
        <div class="yearrange">
            <input type="text" class="inputTearField" placeholder="输入开始年份， 例如1949" (keyup)="onInputStartYearField($event)" />
            <div>
                <mat-icon>check_circle_outline </mat-icon><span class="aligned-with-icon">可选年份: 1949至2019</span>
            </div>
            至
            <input type="text" class="inputTearField" placeholder="输入结束年份， 晚于开始年份" (keyup)="onInputEndYearField($event)" #searchCollectorInput />

            <div>
                <mat-icon>check_circle_outline </mat-icon><span class="aligned-with-icon">结束年份晚于开始年份</span>
            </div>

            <button mat-raised-button color="primary" class="addYear" (click)="onPostInputYear()">
        添加 - Add
      </button>

            <div class="yearselectedlist" #myYearDiv>
                已选年段-Selected Year Range
            </div>
        </div>
    </div>
</div>

<button mat-raised-button color="warn" (click)="resetAll()">
  重置所有筛选项 - Reset
</button>

<button mat-raised-button class="multiSearch" (click)="goToPage()">
  搜索 - Search
</button>