.flexContainer{
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;

}

.tableFilter{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width:150px;
  background: cornsilk;
}

.tableData{
  display:flex;
  flex-direction: column;

  width: 80%;
}

.mat-checkbox-layout {
  white-space: normal !important;
}
