.flexContainer{
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  /*background: #793391;*/

  justify-content: flex-start;
}

.tableFilter{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  /*background: chartreuse;*/
  /*flex-basis: 0;*/
  /*flex-grow: 0;*/


  overflow-y: scroll;
  height: 100vh;

  font-size: 10px !important;
  width: 180px !important;

}

.tableData{
  display:flex;
  flex-direction: column;

  /*background: blue;*/
  /*flex-grow: 10;*/
  /*width: 80%;*/

  overflow-y: scroll;
  height: 100vh;
}

.mat-checkbox-layout {
  white-space: normal !important;
}

/*.customWidth{*/
/*  display: flex;*/
/*  flex: 0 0 75px;*/
/*}*/

