.searchResult{
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;

  border-style: groove;
  border-width: 2px;
  border-radius: 2px;
  border-color: gray;
}

.selected{
  background: white;
}

.master {
  display: flex;
  flex-direction: column;

  width: 15%;

  overflow-y: scroll;
  height: 100vh;
}

.detail{
  display: flex;
  width: 85%;
  
  /*overflow-y: scroll;*/
  /*height: 100vh;*/
}

