/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html {
    height: 100%;
}

body {
    height: 110%;
    font-family:"Helvetica Neue", "Times New Roman", sans-serif;
    position: relative;
    /*background-color: white;*/
    background-image: url("assets/CCVG-6.jpeg");
    background-position: bottom;
}

.mat-checkbox-layout {
    white-space: normal !important;
}

.mat-tree cdk-tree {
    position: sticky;
}


.mat-tree.mat-tree.cdk-tree {
    position: sticky !important;
    top: 58px;
}