/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    position: relative;
    margin: 0 10%;
    background-color: rgb(96, 157, 185);
}

.mat-checkbox-layout {
    white-space: normal !important;
}

.mat-tree cdk-tree {
    position: sticky;
}


/*.mat-list.mat-list.mat-list-base {*/


/*  background: chocolate;*/


/*  position: fixed;*/


/*}*/

.mat-tree.mat-tree.cdk-tree {
    position: sticky !important;
    top: 58px;
}