.pitt-logo {
    width: 130px;
    height: 43px;
    margin-left: -15px;
}
.matButton {
    color: #004f9e;
    font-size: 25px;
    font-family: "Times New Roman";
}
.matButton:hover {
    background-color: #feb71b;
}
.mat-toolbar {
    background-color: white;
    position: static;
    height: 45px;
    /*border-bottom: solid;*/
    /*border-color: #004f9e;*/
    /*background-image: url("../../assets/CCVG-5.jpeg");*/
    /*background-position: center;*/

}
.matButtonOptions {
    color: #004f9e;
    font-size: 16px;
    font-family: "Times New Roman";
}

.links {
    margin: 15px;
    font-family: "Times New Roman";
    font-size: 25px;
}
.links:hover {
    background-color: #feb71b;
}

.contact-us {
    /*margin-left: 22%;*/
    font-family: "Times New Roman";
}
.contact-us:hover {
    background-color: #feb71b;
}
.toolTip {
    background: white;
    font-size: large;
    color: black!important;
    width: auto;
}