<mat-toolbar>
    <div>
        <a href="https://www.pitt.edu" target="_blank"><img src="assets/pitt-logo.png" class="pitt-logo"></a>

        <span class="links" matTooltip="Main page for CCVG library system" matTooltipClass="toolTip"><a href="https://www.chinesevillagedata.library.pitt.edu/index.html" target="blank"><span style="color: #004f9e">CCVG Introduction</span></a></span>

        <button class="matButton" mat-button routerLink="/multi-village-search" >Data Search</button>

        <span class="links" matTooltip="Illustration of the geographic range of villages.
        When click on the village dot, gazetteer info and the link to ULS catalog will
        appear."  matTooltipClass="toolTip"><a href="https://www.chinesevillagedata.library.pitt.edu/map.html" target="blank"><span style="color: #004f9e">Map</span></a></span>
        <span class="links" matTooltip=" Raw data in .CSV and convert .CSV to Excel." matTooltipClass="toolTip"><a href="https://d-scholarship.pitt.edu/37663/" target="blank"><span style="color: #004f9e">Datasets</span></a></span>
        <span class="links" matTooltip="Data extracting guidelines." matTooltipClass="toolTip"><a href="https://d-scholarship.pitt.edu/37663/187/CCVG%20Data%20Dictionary.pdf" target="blank"><span style="color: #004f9e">Dictionary</span></a></span>

        <!--        <button mat-button routerLink="/single-village-search" style="color: #004f9e">User Manual</button>-->
        <button class="matButton" mat-button [matMenuTriggerFor]="lang" style="color: #004f9e">Options</button>


        <span class="contact-us"><a href="https://www.chinesevillagedata.library.pitt.edu/contact.html" target="_blank" style="color: #004f9e; font-size: 18px">Contact us</a></span>


        <mat-menu #lang="matMenu">
            <button class="matButtonOptions" mat-menu-item (click)="changeLanguage(0)" matTooltip="This option is designed to display all table data in Chinese only." matTooltipPosition="right" matTooltipClass="toolTip">Search by Simplified Chinese</button>
            <button class="matButtonOptions" mat-menu-item (click)="changeLanguage(1)" matTooltip="No space for village name: such as “maquanying” for马泉营" matTooltipPosition="right" style="font-size: 16px; color: #004f9e"  matTooltipClass="toolTip">Search by Pinyin</button>
            <button class="matButtonOptions" mat-menu-item (click)="jumpToCSVLink()" matTooltip="This option is designed to convert the downloaded CSV file into an Excel file, suitable fsor users who cannot read CSV files." matTooltipPosition="right" style="font-size: 16px; color: #004f9e"  matTooltipClass="toolTip">From .CSV to .XSLX</button>
        </mat-menu>
    </div>

</mat-toolbar>
<mat-menu x-position = "before" #menu="matMenu">
</mat-menu>