<mat-toolbar>
    <div class="all-position">
        <a href="https://www.pitt.edu" target="_blank"><img src="assets/pitt-logo.png" class="pitt-logo"></a>

        <span class="links" matTooltip="Main page for CCVG library system" matTooltipClass="toolTip"><a href="https://www.chinesevillagedata.library.pitt.edu/index.html" target="blank"><span style="color: #004f9e">CCVG Introduction</span></a></span>

<!--        <button class="matButton" mat-button routerLink="/multi-village-search" >Data Search</button>-->

        <span class="links" matTooltip="Illustration of the geographic range of villages. Click on the village dot to display gazetteer info and the link to ULS catalog."  matTooltipClass="toolTip"><a href="https://www.chinesevillagedata.library.pitt.edu/map.html" target="blank"><span style="color: #004f9e">Map</span></a></span>
        <span class="links" matTooltip=" Raw data in .CSV and convert .CSV to Excel." matTooltipClass="toolTip"><a href="https://d-scholarship.pitt.edu/37663/" target="blank"><span style="color: #004f9e">Datasets</span></a></span>
        <span class="links" matTooltip="Data extracting guidelines." matTooltipClass="toolTip"><a href="https://d-scholarship.pitt.edu/37663/229/CCVG%20Data%20Dictionary.pdf" target="blank"><span style="color: #004f9e">Dictionary</span></a></span>

        <!--        <button mat-button routerLink="/single-village-search" style="color: #004f9e">User Manual</button>-->
        <button class="matButton" mat-button [matMenuTriggerFor]="lang" style="color: #004f9e">Searching Options ></button>

        <span class="links"><a href="https://pitt.hosted.panopto.com/Panopto/Pages/Viewer.aspx?tid=8e4cb549-f774-4a37-8efa-af47015b77e7" target="blank"><span style="color: #004f9e">Video Tutorial</span></a></span>

        <span class="contact-us"><a href="https://www.chinesevillagedata.library.pitt.edu/contact.html" target="_blank" style="color: #004f9e; font-size: 25px">Contact Us</a></span>

        <mat-menu #lang="matMenu">
            <button class="matButtonOptions" mat-menu-item (click)="changeLanguage(0)" matTooltip="This option is designed to display all table data in Chinese only." matTooltipPosition="right" matTooltipClass="toolTip">Search by Simplified Chinese</button>
            <button class="matButtonOptions" mat-menu-item (click)="changeLanguage(1)" matTooltip="No space for village name: such as “maquanying” for马泉营" matTooltipPosition="right" style="font-size: 16px; color: #004f9e"  matTooltipClass="toolTip">Search by Pinyin</button>
            <button class="matButtonOptions" mat-menu-item (click)="jumpToCSVLink()" matTooltip="Converting the downloaded CSV file into an Excel file, designated for users whose computer cannot read CSV files." matTooltipPosition="right" style="font-size: 16px; color: #004f9e"  matTooltipClass="toolTip">From .CSV to .XSLX</button>
        </mat-menu>
    </div>

</mat-toolbar>
<mat-menu x-position = "before" #menu="matMenu">
</mat-menu>